/*selector{
	property: value;
}*/

* {
	text-align: right;
}

body {
	background-color: azure
}

h1 {
	color: magenta;
/*	text-align: center;*/
	border: 5px solid rgba(255,0,0,0.2);
}

p {
	text-align: justify;
	color: green;

}

hr {
	border-color: magenta;
	border: 1px solid magenta;
}

li {
	color: orange;
	display: inline-block;
}

.text-1 {
	color: purple;
	font-weight: bolder;
}

.text-2 {
	color: white;
}

.text-3{
	color: orange;
}

#div1{
	background-color: rgba(0,0,250,0.5);
}


#div2{
	background-color: green;
}

